{#{% extends 'general/base.html' %}#}
{% extends 'general/root.html' %}
{% load staticfiles %}
{% load static %}

{% block title %} News Sources - {{ block.super }} {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_sources.css' %}">
{% endblock %}

{% block content %}

    <div class="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#byCountry">
                        Sources By Country
                    </button>
                </h5>
            </div>
            <div id="byCountry" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {% regroup sources|dictsort:'country' by country as sources_by_country %}
                    <ul>
                        {% for country in sources_by_country %}
                            <li>{{ country.grouper }}
                                <ul>
                                    {% for source in country.list %}
                                        <li>
                                            <a href="{{ source.url }}">{{ source.name }}</a>
                                            <sub>{{ source.category|capfirst }} - {{ source.full_lang }}</sub>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>














    <div class="container">
        <div class="row" id="view-src-row">
            <div class="col sources" id="sources-left">
                <h2 class="view-sources-cat-head">Sources by Country</h2>
                {% regroup sources|dictsort:'country' by country as sources_by_country %}
                <ul>
                    {% for country in sources_by_country %}
                        <li>{{ country.grouper }}
                            <ul>
                                {% for source in country.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.category|capfirst }} - {{ source.full_lang }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col sources" id="sources-center">
                <h2 class="view-sources-cat-head">Sources by Category</h2>
                {% regroup sources|dictsort:'category' by category as sources_by_category %}
                <ul>
                    {% for category in sources_by_category %}
                        <li>{{ category.grouper|capfirst }}
                            <ul>
                                {% for source in category.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.country }} - {{ source.full_lang }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col sources">
                <h2 class="view-sources-cat-head">Sources by Language</h2>
                {% regroup sources|dictsort:'full_lang' by full_lang as sources_by_language %}
                <ul>
                    {% for full_lang in sources_by_language %}
                        <li>{{ full_lang.grouper }}
                            <ul>
                                {% for source in full_lang.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.country }} - {{ source.category|capfirst }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}