/*For view_post and view_public_posts and view_query*/
/***
 *     ██████╗ █████╗ ██████╗ ██████╗ ███████╗
 *    ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝
 *    ██║     ███████║██████╔╝██║  ██║███████╗
 *    ██║     ██╔══██║██╔══██╗██║  ██║╚════██║
 *    ╚██████╗██║  ██║██║  ██║██████╔╝███████║
 *     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝
 *
 */
.card {
    background-color: var(--main-bg-color);
}

.card * {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.card-header h1 {
    align-content: center;
}

.card-link {
    color: var(--main-link-color);
    transition: 0.4s;
}
