/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */
.sources {
    margin: 2em 0.5em 2em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 1em;
    border-radius: 5pt;
    background-color: var(--transp-bg-1);
    z-index: 999;
}

/*.sources > ul {*/
/*    padding-left: 2em;*/
/*}*/

.src-ul {
    text-align: center;
}

.src-li {
    display: inline-block;
    text-align: left;
}

.sources > ul, .sources > ul > li {
    text-align: center;
}

#sources-center {
    background-color: var(--transp-bg-1);
}k

@media (min-width: 1200px) {
    #view-src-col-container {
        display: block;
    }
    #accordion {
        display: none;
    }
}

@media (max-width: 1199px) {
    #view-src-col-container {
        display: none;
    }
    #accordion {
        display: block;
    }
}

.src-card {
    background-color: var(--transp-bg-1);
}

.src-card > .card-header {
    background-color: var(--transp-bg-1);
    text-align: center;
    border: 1pt solid var(--transp-bg-1);
}

.src-card-body {
    background-color: transparent;
}

.src-card-body ul {
    list-style: none;
    justify-self: stretch;
}

.btn.btn-link.accordion-btn {
    font-size: 22pt;
    color: var(--transp-bg-7);
    font-weight: 800;
}

.btn.btn-link.accordion-btn:hover,
.btn.btn-link.accordion-btn:focus {
    color: var(--transp-bg-7);
    text-decoration-line: none;
    transition: 0.5s;
}

.src-pad-col {
    background-color: var(--transp-bg-1);
    padding: 0;
    margin: 0;
}

#src-accordion-wrapper {
    padding: 2em;
    background-color: var(--main-bg-color);
}

#middle-src-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.src-header {
    font-size: 14pt;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}

/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */