/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */
.sources {
    margin: 2em 0.5em 2em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 1em;
    border-radius: 5pt;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.sources > ul {
    padding-left: 8.5em;
}

.sources > ul, .sources > ul > li {
    text-align: left;
}

#sources-center {
    background-color: rgba(0,0,0,0.7);
}

@media (min-width: 1200px) {
    #view-src-col-container {
        display: block;
    }
    #accordion {
        display: none;
    }
}

@media (max-width: 1199px) {
    #view-src-col-container {
        display: none;
    }
    #accordion {
        display: block;
    }
}


.src-card {
    background-color: rgba(0,0,0,0.7);
    color: var(--main-bg-color);
}

.src-card > .card-header {
    background-color: rgba(0,0,0,0.7);
    color: var(--main-bg-color);
    font-weight: 700;
    font-variant-caps: all-small-caps;
    font-size: 22px;
    text-align: center;
    border: 1pt solid rgba(0,0,0,0.7);
}

.src-card-body {
    background-color: transparent;
}

.src-card-body > ul {
    list-style: none;
}

.btn.btn-link.accordion-btn {
    font-size: 22pt;
    color: var(--main-bg-color);
}

.btn.btn-link.accordion-btn:hover,
.btn.btn-link.accordion-btn:focus {
    color: var(--aux-accent-1);
    text-decoration-line: none;
}

.src-pad-col {
    background-color: rgba(0,0,0,0.7);
}

/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */