/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 *
 */

.view-post-comment {
    background-color: var(--main-color);
    border-radius: 5pt;
    color: var(--main-bg-color);
    margin: 1em;
    padding: 1em;
}

.view-post-post {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3pt solid var(--main-bg-color);
    border-radius: 5pt;
    color: var(--main-bg-color);
    margin: 1em;
    overflow-y: auto;
    padding: 2em;
}

.view-post-post-detail {
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.view-post-author-link:link {
    color: var(--main-color);
    transition: 0.4s;
}

.view-post-author-link:hover {
    color: var(--main-link-hover);
}

#view-post-post-body,
.view-post-post-detail > span {
    color: var(--main-bg-color);
}

.view-post-post-detail,
.view-post-post-link,
#view-post-post-hdr,
#view-post-post-body {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.4s;
}

#view-post-add-comment-btn:hover,
#view-post-add-comment-btn:focus {
    background-color: var(--main-bg-color);
    border: 1pt solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}

#view-post-add-comment-btn  {
    background-color: var(--main-color);
    border: 1pt solid var(--main-bg-color);
    color: var(--main-bg-color);
    margin: 1em 0;
}

#view-post-del-comment-btn,
#view-post-upd-comment-btn {
    color: var(--aux-accent-1);
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    transition: 0.4s;
}

#view-post-del-comment-btn:hover,
#view-post-upd-comment-btn:hover,
#view-post-del-comment-btn:focus,
#view-post-upd-comment-btn:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
}

#view-post-upd-post-btn,
#view-post-del-post-btn {
    border: 1pt solid var(--main-color);
    margin: auto 1em 2em 1em;
    transition: 0.4s;
}

#view-post-upd-post-btn:hover,
#view-post-del-post-btn:hover,
#view-post-upd-post-btn:focus,
#view-post-del-post-btn:focus {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    text-decoration-line: none;
    transition: 0.5s;
}

#view-post-iframe-div {
    margin: 1em;
    overflow: hidden;
    position: relative;
}

#view-post-iframe-div > div > div > iframe,
#view-post-iframe-div > div {
    border: 2pt solid var(--main-color);
}

#view-post-iframe {
    border: 2pt solid var(--main-color);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.view-post-comment {
    background-color: rgba(32, 36, 40, 0.8);
    color: var(--main-bg-color);
    padding: 2em;
    text-align: justify;
    text-wrap: normal;
}

#view-post-comments-header {
    margin: 1em;
    text-align: center;
}

#view-post-comments-container {
    background-color: var(--main-bg-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}

.view-post-comment-body,
.view-post-comment-footer {
    color: var(--main-bg-color);
}

.view-post-comment-footer > a:link,
.view-post-comment-footer > a {
    color: var(--main-link-color);
    transition: 0.4s;
}

.view-post-comment-footer > a:hover,
.view-post-comment-footer > a:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
}

small.view-post-comment-footer {
    margin-left: 1em;
}

.view-post-comment-body > pre,
#view-post-post-body > pre {
    color: var(--main-bg-color);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#view-post-articles-list {
     max-height: calc(100vh - 150px);
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
     border-bottom: 1pt solid var(--main-bg-color);
     border-left: 1pt solid var(--transp-bg-7);
     border-right: 1pt solid var(--transp-bg-7);
     border-top: 1pt solid var(--transp-bg-7);
     background-color: var(--transp-bg-7);
     margin-bottom: 0;
     height: 100%;
 }

.view-post-article-txt-container {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
}

.view-post-article-title.title-center {
    padding-bottom: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    color: var(--main-bg-color);
    background-color: var(--transp-bg-7);
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
}

.view-post-article-subtitle {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 10pt;
}

.view-post-article-subtitle-container {
    text-align: left;
    align-content: start;
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    margin-top: 0.5em;
}

.view-post-article-body {
    margin-top: 1em;
    background-color: var(--transp-bg-4);
    color: var(--main-accent-1);
    padding: 1em;
    border-radius: 5pt;
}

a.view-post-article-link.title-center:focus,
a.view-post-article-link.title-center:hover,
.img-link {
    color: var(--main-link-hover);
    transition: 0.5s;
}

.view-post-article {
    height: 100%;
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

.view-post-articles {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 5pt;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#view-post-card {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--main-bg-color);
    border-radius: 5pt;
    margin: 0;
    padding: 0;
    border:none;
}

.view-post-card-header,
.view-post-card-header-container {
    background-color: transparent;
    color: var(--main-bg-color);
    text-align: center;
}

#view-post-article-img-container,
.view-post-article-txt-container,
.view-post-article-title,
.view-post-article-subtitle {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
}

.view-post-article-txt-container > * {
    background: var(--transp-bg-7);
    color: var(--main-bg-color);
}

.card-header.view-post-card-header-container {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    /*border-top: 1pt solid rgba(212,212,212, 0.1);*/
    /*border-right: 1pt solid rgba(212,212,212, 0.1);*/
    /*border-left: 1pt solid rgba(212,212,212, 0.1);*/
    border-top: 1pt solid var(--transp-bg-7);
    border-right: 1pt solid var(--transp-bg-7);
    border-left: 1pt solid var(--transp-bg-7);
    border-bottom: none;
    background-color: var(--transp-bg-7);
}

.view-post-li:first-child {
    border-top: none;
}

.view-post-li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.view-post-article-link:focus,
.view-post-article-link:hover {
    color: var(--main-link-hover);
    transition: 0.6s;
}

.view-post-article-link:link {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    transition: 0.4s;
}

.view-post-article-img-xl {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10pt;
}

.view-post-article-img-container {
    padding: 10px;
}

.view-post-article-img-sm,
.view-post-article-img-xl {
    width: 100%;
    height: auto;
    border-radius: 10pt;
}

@media (min-width: 1200px) {
    .view-post-article-img-container {
        display: block;
        text-align: center;
    }
    .article-img-below {
        display: none;
    }
}

@media (max-width: 1199px) {
    .view-post-article-img-container {
        display: none;
    }
    .article-img-below {
        display: block;
        text-align: center;
    }
}

/*@media (min-width: 992px) {*/
/*    !*.view-post-article-img {*!*/
/*    !*    max-width: 300px;*!*/
/*    !*    height: auto;*!*/
/*    !*}*!*/
/*    .view-post-article-img-container {*/
/*        text-align: initial;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) and (max-width: 991px) {*/
/*    .view-post-article-img-sm {*/
/*        width: available;*/
/*        height: auto;*/
/*    }*/
/*    .view-post-article-img-container {*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/
/*}*/

/*@media (max-width: 575px) {*/
/*    .view-post-article-img {*/
/*        width: available;*/
/*        height: auto;*/
/*    }*/
/*    .view-post-article-img-container {*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/
/*}*/

.view-post-article-title {
    font-weight: 800;
    font-size: 18pt;
    margin-top: 10px;
}

.view-post-li {
    padding: 1em;
    height: 100%;
    border-top: solid 1pt var(--transp-bg-7);
    border-bottom: solid 1pt var(--transp-bg-7);
    color: var(--main-bg-color);
    background-color: var(--transp-bg-7);
    border-right: 1pt solid var(--transp-bg-7);
    margin: 0;
    list-style: none;
}

.view-post-li * {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
}

.view-post-li:last-of-type {
    border-bottom: none;
}

.view-post-articles-left-buffer,
.view-post-articles-right-buffer{
    background-color: var(--transp-bg-7);
    margin: 0;
}

.article-author {
    color: #bc4b51;
    background-color: transparent;
}

.post-query-container > form > button {
    font-weight: 700;
}

.post-query-container {
    margin-top: 5vh;
}
/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 */