/***
 *      ██╗   ██╗██╗███████╗██╗    ██╗     ██████╗ ██╗   ██╗███████╗██████╗ ██╗   ██╗
 *     ██║   ██║██║██╔════╝██║    ██║    ██╔═══██╗██║   ██║██╔════╝██╔══██╗╚██╗ ██╔╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║   ██║██║   ██║█████╗  ██████╔╝ ╚████╔╝
 *   ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗  ╚██╔╝
 *    ████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╔╝╚██████╔╝███████╗██║  ██║   ██║
 *   ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝
 *
 */

#view-query-parent-container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#view-query-table {
    margin-top: 1em;
    padding: 1em;
    background-color: var(--transp-bg-1);
}

th {
    text-align: center;
    border: 1pt solid var(--main-light);
    border-collapse: collapse;
}

.view-query-tr {
    border: 1pt solid var(--main-light);
    border-collapse: collapse;
}
.view-query-tr:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.view-query-details-row-title {
    text-align: justify;
    padding-right: 1em;
    padding-left: 0.5em;
    border-right: 1pt solid var(--main-light);
    border-collapse: collapse;
}

.view-query-details-row-data {
    padding-left: 1em;
    width: 100%;
    border-right: 1pt solid var(--main-light);
}

.post-query-container {
    margin-top: 5vh;
    background-color: var(--main-dark);
}

.port-query-container > form {
    background-color: var(--main-dark);
}

.post-query-container > form > button {
    font-weight: 700;
}

#view-query-form-header {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    border-collapse: collapse;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: var(--main-dark);
}

#new-post-span-container {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    background-color: var(--main-dark);
    border-collapse: collapse;
}

#new-post-span {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    width: 100%;
    text-align: center;
    background-color: var(--main-dark);
    color: var(--main-light);
    font-size: 16pt;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    border-collapse: collapse;
}


/*=======================================ARTICLES=============================================*/

#articles-wrapper {
    background-color: var(--main-dark);
    border-radius: 5pt;
    border-collapse: collapse;
    padding: 0;
    margin-top: 2em;
}

#articles-col {
    background-color: var(--main-dark);
    color: var(--main-light);
    border-radius: 5pt;
    border-collapse: collapse;
    padding: 0;
    margin-bottom: 2em;
}

#articles-card {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    background-color: var(--main-dark);
    color: var(--main-light);
    border-radius: 5pt;
    margin: 0;
    padding: 0;
    border: none;
}

#card-header {
    color: var(--main-light);
    text-align: center;
    background-color: transparent;
}

#card-header-wrapper{
    background-color: var(--main-dark);
    color: var(--main-light);
    text-align: center;
}

#card-header-wrapper {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    border-top: 1pt solid var(--transp-bg-7);
    border-right: 1pt solid var(--transp-bg-7);
    border-left: 1pt solid var(--transp-bg-7);
    border-bottom: none;
    border-collapse: collapse;
}

 #articles-list {
     max-height: calc(100vh - 150px);
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
     border-bottom: 1pt solid var(--main-light);
     border-left: 1pt solid var(--transp-bg-7);
     border-right: 1pt solid var(--transp-bg-7);
     border-top: 1pt solid var(--transp-bg-7);
     background-color: var(--transp-bg-4);
     border-collapse: collapse;
     margin-bottom: 0;
     height: 100%;
 }

.article-li:first-child {
    border-top: none;
}

.article-li {
    padding: 0;
    width: 100%;
    height: auto;
    border-top: solid 1pt var(--transp-bg-4);
    border-bottom: solid 1pt var(--transp-bg-4);
    color: var(--main-light);
    background-color: transparent;
    margin: 0 0 20px 0;
    list-style: none;
    border-collapse: collapse;
}

.article-li * {
    background-color: transparent;
    color: var(--main-light);
}
.article-li:last-of-type {
    border-bottom: none;
    margin: 0;
}

.article-row {
    height: 100%;
    background-color: var(--transp-bg-1);
    color: var(--main-light);
}

.left-buffer,
.right-buffer {
    background-color: var(--transp-bg-1);
    margin: 0;
}

.article-details-container {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--transp-bg-1);
    color: var(--main-light);
}

.article-details-container > * {
    background-color: transparent;
    color: var(--main-light);
}

/*.img-link {*/
/*    color: var(--main-link-hover);*/
/*    transition: 0.5s;*/
/*    text-decoration-line: none;*/
/*    background-color: transparent;*/
/*}*/


.article-title.title-center,
.article-title.title-center:link,
.article-title.title-center:visited {
    font-weight: 800;
    font-size: 18pt;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
    color: var(--main-light);
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    border-collapse: collapse;
    overflow-x: hidden;
}

.article-title.title-center:hover,
.article-title.title-center:focus {
    color: var(--main-link-hover);
}

.article-subtitle-container {
    text-align: left;
    align-content: start;
    background-color: transparent;
    color: var(--main-light);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.article-subtitle {
    background-color: transparent;
    color: var(--main-light);
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 10pt;
}

.article-author {
    color: #bc4b51;
    background-color: transparent;
}

.article-body {
    background-color: transparent;
    color: var(--aux-accent-5);
    padding: 2em 1em 1em 1em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5pt;
    border-collapse: collapse;
}

.article-img-xl-container {
    background-color: var(--transp-bg-1);
    color: var(--main-light);
    padding: 10px;
}

.article-img-xl {
    max-width: 300px;
    width: 100%;
    border-radius: 5pt;
    border-collapse: collapse;
    background-color: transparent;
}

@media (min-width: 1200px) {
    .article-img-sm {
        display: none;
    }
    .article-img-xl-container {
        display: block;
        text-align: center;
        background-color: var(--transp-bg-1);
    }
    .article-img-xl {
        border-radius: 5pt;
        border-collapse: collapse;
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: transparent;
    }
}

@media (max-width: 1199px) {
    .article-img-sm {
        display: block;
        text-align: center;
        border-radius: 5pt;
        border-collapse: collapse;
        width: 100%;
        height: auto;
        background-color: var(--transp-bg-1);
    }
    .article-img-xl-container,
    .article-img-xl {
        display: none;
    }
    .article-title {
        color: var(--main-light);
    }
}



/*================================================FORM=================================================*/

#new-post-form {
    border: 1pt solid var(--main-light);
    border-radius: 5pt;
    border-collapse: collapse;
}

#new-post-span-container {
    margin: 0;
}

#new-post-span {
    border: 1pt solid var(--main-light);
    border-collapse: collapse;
}

.form-check-label {
    margin-right: 0.5em;
}

#view-query-form-input-title {
    padding: 1em;
    margin-bottom: 0;
    border: 1pt solid var(--main-light);
    border-collapse: collapse;
    color: var(--aux-accent-3);
}

#view-query-form-textarea-container {
    margin-top: 0;
    padding: 0;
    border-collapse: collapse;
    border-radius: 5pt 5pt 0 0;
    border: 1pt solid var(--main-light);
    height: 19.5em;
}

#textarea-label {
    display: none;
}

textarea.form-control.view-query {
    display: none;
}

.form-control.view-query {
    background-color: var(--main-dark);
    color: var(--main-light);
}

#pre-textarea {
    min-height: 100%;
    width: 100%;
    padding: 1em;
    height: 18.9em;
    text-overflow: ellipsis;
    overflow: scroll;
    font-size: 12pt;
    background-color: var(--main-dark);
    color: var(--aux-accent-6);
    border: 1pt solid var(--main-light);
    border-collapse: collapse;
    margin-top: 0;
    top: 0;
}

#view-query-form-controls {
    padding-top: 15px;
    border: 1pt solid var(--main-light);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-collapse: collapse;
}

#view-query-form-controls > .form-check.form-check-inline {
    padding-left: 0.5em;
    margin: 1em;
}

input.form-control.view-query::placeholder {
    color: var(--main-light);
    opacity: 1.0;
}

#view-query-save-btn,
#view-query-del-btn {
    border: 2pt solid var(--main-light);
    color: var(--main-light);
    font-weight: 600;
    margin: 1em;
}

#view-query-save-btn:hover,
#view-query-del-btn:hover,
#view-query-save-btn:focus,
#view-query-del-btn:focus {
    background-color: var(--aux-accent-6);
    color: var(--main-light);
    border: 2pt solid var(--main-light);
    text-decoration-line: none;
    transition: 0.5s;
}




/*==========================================IFRAME===========================================================*/

.view-query-iframe-container {
    height: auto;
    width: 100%;
    padding: 1em;
    margin: 0;
    display: flex;
}

#view-query-iframe-row {
    width: 100%;
    margin: 0;
    padding: 0;
}

#view-query-iframe-col {
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
}

#view-query-iframe-div {
    border: 2pt solid var(--main-light);
    border-radius: 5pt;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    top: 2em;
    position: relative;
    overflow: hidden;
}

/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗     ██████╗ ██╗   ██╗███████╗██████╗ ██╗   ██╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔═══██╗██║   ██║██╔════╝██╔══██╗╚██╗ ██╔╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║   ██║██║   ██║█████╗  ██████╔╝ ╚████╔╝
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗  ╚██╔╝
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╔╝╚██████╔╝███████╗██║  ██║   ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝
 *
 */