/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 *
 */


.view-post-post {
    background-color: rgb(0,0,0);
    border: 3pt solid var(--main-bg-color);
    border-radius: 5pt;
    color: var(--main-bg-color);
    margin: 1em;
    overflow-y: auto;
    padding: 2em;
}

.view-post-post-detail {
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.view-post-author-link:link {
    color: var(--main-color);
    transition: 0.4s;
}
.view-post-author-link:hover,
.view-post-author-link:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
}
#view-post-post-body,
.view-post-post-detail > span {
    color: var(--main-bg-color);
}
.view-post-post-detail,
.view-post-post-link,
#view-post-post-hdr,
#view-post-post-body {
    background-color: var(--transp-bg-7);
    transition: 0.4s;
}
#view-post-add-comment-btn:hover,
#view-post-add-comment-btn:focus {
    background-color: var(--main-bg-color);
    border: 1pt solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}
#view-post-add-comment-btn  {
    background-color: var(--main-color);
    border: 1pt solid var(--main-bg-color);
    color: var(--main-bg-color);
    margin: 1em 0;
}
#view-post-del-comment-btn,
#view-post-upd-comment-btn {
    color: var(--aux-accent-1);
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    transition: 0.4s;
}
#view-post-del-comment-btn:hover,
#view-post-upd-comment-btn:hover,
#view-post-del-comment-btn:focus,
#view-post-upd-comment-btn:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
    text-decoration-line: none;
}
#view-post-upd-post-btn,
#view-post-del-post-btn {
    border: 1pt solid var(--main-color);
    margin: auto 1em 2em 1em;
    transition: 0.4s;
}
#view-post-upd-post-btn:hover,
#view-post-del-post-btn:hover,
#view-post-upd-post-btn:focus,
#view-post-del-post-btn:focus {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    text-decoration-line: none;
    transition: 0.5s;
}
#view-post-iframe-div {
    margin: 1em;
    overflow: hidden;
    position: relative;
}
#view-post-iframe-div > div > div > iframe,
#view-post-iframe-div > div {
    border: 2pt solid var(--main-color);
}
#view-post-iframe {
    border: 2pt solid var(--main-color);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.view-post-comment-body > pre,
#view-post-post-body > pre {
    color: var(--main-bg-color);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}




/*====================================ARTICLES===================================*/

.col.view-post-articles {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    border-radius: 5pt;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#view-post-card {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    border-radius: 5pt;
    margin: 0;
    padding: 0;
    border: none;
}

.title-center.view-post-card-header,
.card-header.view-post-card-header-container {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    text-align: center;
}

.card-header.view-post-card-header-container {
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    border-top: 1pt solid var(--transp-bg-7);
    border-right: 1pt solid var(--transp-bg-7);
    border-left: 1pt solid var(--transp-bg-7);
    border-bottom: none;
    background-color: var(--transp-bg-7);
}


#view-post-articles-list {
     max-height: calc(100vh - 150px);
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
     border-bottom: 1pt solid var(--main-bg-color);
     border-left: 1pt solid var(--transp-bg-7);
     border-right: 1pt solid var(--transp-bg-7);
     border-top: 1pt solid var(--transp-bg-7);
     background-color: black;
     margin: 0;
     height: 100%;
 }

.view-post-li:first-child {
    border-top: none;
}

.view-post-li {
    padding-bottom: 20px;
    padding-top: 10px;
    height: auto;
    border-top: solid 1pt var(--transp-bg-4);
    border-bottom: solid 1pt var(--transp-bg-4);
    border-left: 1pt solid var(--transp-bg-7);
    color: var(--main-bg-color);
    background-color: var(--transp-bg-7);
    border-right: 1pt solid var(--transp-bg-7);
    margin: 0;
    list-style: none;
    border-collapse: collapse;
}
.view-post-li * {
    background-color: transparent;
    color: var(--main-bg-color);
}
.view-post-li:last-of-type {
    border-bottom: none;
}

.row.view-post-article {
    height: 100%;
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
}

.col-xl-1.col-sm-0.view-post-articles-left-buffer,
.col-xl-1.col-sm-0.view-post-articles-right-buffer {
    background: var(--transp-bg-7);
    color: var(--main-bg-color);
    margin: 0;
}

.col-xl-7.col-sm-12.view-post-article-txt-container {
    background-color: black;
    color: var(--main-bg-color);
    padding-left: 0;
    padding-right: 0;
}

.col-xl-7.col-sm-12.view-post-article-txt-container > * {
    background: var(--transp-bg-7);
    color: var(--main-bg-color);
}

/*a.view-post-article-link.title-center:focus,*/
/*a.view-post-article-link.title-center:hover,*/
.img-link {
    color: var(--main-link-hover);
    transition: 0.5s;
    text-decoration-line: none;
}

.view-post-article-title.title-center {
    font-weight: 800;
    font-size: 18pt;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    color: var(--main-bg-color);
    background-color: var(--transp-bg-7);
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
}

.title-center.view-post-article-subtitle-container {
    text-align: left;
    align-content: start;
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-post-article-subtitle.title-center {
    background-color: var(--transp-bg-7);
    color: var(--main-bg-color);
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 10pt;
}

.article-author {
    color: #bc4b51;
    background-color: var(--transp-bg-7);
}

.view-post-article-body {
    background-color: var(--main-accent-1);
    color: var(--transp-bg-7);
    padding: 2em 1em 1em 1em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5pt;
}

.col-3.view-post-article-img-container {
    background-color: transparent;
    color: var(--main-bg-color);
    padding: 10px;
}

.view-post-article-img-xl {
    max-width: 300px;
    width: 100%;
    border-radius: 10pt;
}

@media (min-width: 1200px) {
    .col-3.view-post-article-img-container {
        display: block;
        text-align: center;
    }
    .view-post-article-img-xl {
        border-radius: 10pt;
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .view-post-article-img-sm {
        display: none;
    }
}
@media (max-width: 1199px) {
    .col-3.view-post-article-img-container,
    .view-post-article-img-xl {
        display: none;
        text-align: center;
    }
    .view-post-article-img-sm {
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
        border-radius: 10pt;
    }
}



/*===============================  COMMENTS =============================================*/

.view-post-comment {
    background-color: rgba(32, 36, 40, 0.8);
    color: var(--main-bg-color);
    padding: 2em;
    text-align: justify;
    text-wrap: normal;
}
#view-post-comments-header {
    margin: 1em;
    text-align: center;
}
#view-post-comments-container {
    background-color: var(--main-bg-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
.view-post-comment-body,
.view-post-comment-footer {
    color: var(--main-bg-color);
}
.view-post-comment-footer > a:link,
.view-post-comment-footer > a {
    color: var(--main-link-color);
    transition: 0.4s;
}
.view-post-comment-footer > a:hover,
.view-post-comment-footer > a:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
    text-decoration-line: none;
}
small.view-post-comment-footer {
    margin-left: 1em;
}

.view-post-comment {
    background-color: var(--main-color);
    border-radius: 5pt;
    color: var(--main-bg-color);
    margin: 1em;
    padding: 1em;
}


/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 */

/*#view-post-card,*/
/*.col.view-post-articles,*/
/*#view-post-articles-list,*/
/*.view-post-li,*/
/*.row.view-post-article,*/
/*.col-xl-1.col-sm-0.view-post-articles-left-buffer,*/
/*.col-xl-7.col-sm-12.view-post-article-txt-container,*/
/*.img-link,*/
/*.title-center.view-post-article-subtitle-container,*/
/*.view-post-article-subtitle.title-center,*/
/*.article-author,*/
/*.view-post-article-body,*/
/*.col-3.view-post-article-img-container,*/
/*.col-xl-1.col-sm-0.view-post-articles-right-buffer {*/
/*    background-color: var(--transp-bg-7);*/
/*    color: var(--main-bg-color);*/
/*}*/