/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗     ██████╗ ██████╗ ███╗   ███╗███╗   ███╗███████╗███╗   ██╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║     ██║   ██║██╔████╔██║██╔████╔██║█████╗  ██╔██╗ ██║   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 */

.view-comment-title {
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 998;
}

.view-comment-title-link:link {
    color: var(--main-link-color);
    text-decoration: underline;
    transition: 0.4s;
    z-index: 999;
}

.view-comment-title-link:hover,
.view-comment-title-link:focus {
    color: var(--main-link-hover);
    transition: 0.5s;
    z-index: -1;
}

.view-comment-subtitle {
    margin-top: 0;
    padding-top: 0;
}

/*!* VIEW COMMENT *!*/
/*.view-comment-body {*/
/*    margin: 1em;*/
/*    padding: 2em;*/
/*    overflow-y: auto;*/
/*    background-color: var(--main-accent-1);*/
/*    border-radius: 5pt;*/
/*}*/

.btn.view-comment-upd-btn,
.btn.view-comment-del-btn{
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border: 1pt solid var(--main-bg-color);
    margin: 1em 0;
}

.btn.view-comment-del-btn:hover,
.btn.view-comment-upd-btn:hover,
.btn.view-comment-del-btn:focus,
.btn.view-comment-upd-btn:focus {
    border: 1pt solid var(--main-color);
    color: var(--main-color);
    background-color: var(--main-bg-color);
    transition: 0.5s;
}

.view-comment-body {
    text-align: left;
    margin-bottom: 2em;
}

.view-comment-container {
    text-align: center;
    background-color: var(--main-bg-color);
    width: 66%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    border-radius: 5pt;
    z-index: 700;
}

/*.new-comment-container, .view-comment-container {*/
/*    text-align: center;*/
/*    background-color: var(--main-bg-color);*/
/*    width: 66%;*/
/*    min-width: 400px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 2em;*/
/*    padding-top: 1.5em;*/
/*    border-radius: 5pt;*/
/*}*/

/*.view-comment-container {*/
/*    padding-bottom: 1em;*/
/*    margin-top: 2em;*/
/*    z-index: 700;*/
/*}*/
/*================================================*/